<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="d-flex justify-content-center">
    <form class="w-50 h-50" action="/poster/write" method="post" th:object="${poster}" enctype="multipart/form-data">
        <div class="form-floating">
            <input class="form-control" placeholder="제목" type="text" name="title" th:field="*{title}">
            <label>제목</label>
            <span th:errors="*{title}"></span><br>
        </div>

        <div class="form-floating">
            <input class="form-control" placeholder="작성자" type="text" name="writer" th:field="*{writer}">
            <label>작성자</label>
            <span th:errors="*{writer}"></span><br>
        </div>

        <div class="form-floating">
        <textarea class="form-control" placeholder="내용" type="text" name="content" th:field="*{content}"
                  style="height: 100px"></textarea>
            <label>내용</label>
            <span th:errors="*{content}"></span><br>
        </div>

        <input type="file" name="files" multiple="multiple">
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary mx-1" th:onclick="|location.href='@{/posters}'|">취소</button>
            <button class="btn btn-primary" type="submit">제출</button>
        </div>
    </form>
</div>
</body>
<script src="/js/bootstrap.min.js"></script>
</html>