<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="content container">
    <table class="table">
        <tr>
            <th>제목</th>
            <td th:text="${poster.title}"></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td th:text="${poster.writer.name}"></td>
        </tr>
        <tr>
            <th>작성일</th>
            <td th:text="${#temporals.format(poster.regdate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td th:text="${poster.content}"></td>
        </tr>
        <tr>
            <th>키</th>
            <td th:text="${poster.height}"></td>
        </tr>
        <tr>
            <th>몸무게</th>
            <td th:text="${poster.weight}"></td>
        </tr>
        <tr th:if="${poster.getImgFiles().size} != 0">
            <th>첨부파일</th>
            <td>
                <a class="d-block" th:each="file : ${poster.imgFiles}" th:text="${file.getUploadFileName()}" th:href="|/download/${file.getId()}|"></a>
                <img th:each="imgFile : ${poster.imgFiles}" th:src="|/images/${imgFile.getStoreFileName()}|" width="200" height="200">
            </td>
        </tr>
    </table>
    <div class=" d-flex justify-content-end">
        <div class="btn-group">
            <button class="btn btn-primary" type="button"
                    th:onclick="|location.href='@{/poster/edit(id=${poster.id})}'|">수정
            </button>
            <button class="btn btn-primary" type="button"
                    th:onclick="|location.href='@{/poster/delete(id=${poster.id})}'|">삭제
            </button>
            <button class="btn btn-primary" type="button" th:onclick="|location.href='@{|/posters/${category}|}'|">목록</button>
        </div>
    </div>

    <div class="border-top border-bottom py-3 my-3">
        <div class="d-flex">
            <input id="comment_pno" type="hidden" th:value="${poster.id}">
            <textarea id="comment_content" class="justify-content-end w-100 mx-2" type="text"
                      placeholder="내용"></textarea>
            <button id="comment_submit" class="btn btn-primary">제출</button>
        </div>
    </div>

    <div>
        <div>
            <ul id="comments">
            </ul>
        </div>
        <div>
            <ul style="list-style-type: none;" id="pagination">
            </ul>
        </div>
    </div>
</div>

<script src="/js/bootstrap.min.js"></script>
<script>

    document.getElementById("comment_submit").onclick = function () {
        let content = $("#comment_content").val();
        let pno = $("#comment_pno").val();

        let data = {
            content: content,
            parent: 1
        };

        $.ajax({
            type: "post",
            url: '/comment/write?pno='+pno,
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function () {
                $("#comment_content").val('');
                loadComments(pno, 0);
            },
            error: function (error) {
                alert("error");
            }
        })
    }

    function loadComments(pno, page) {
        $.ajax({
            type: "GET",
            url: `/comments?pno=${pno}&page=${page}`,
            dataType: "json",
            async: false,
            success: function (comments) {
                let commentUl = $("#comments");
                commentUl.empty(); // 선택 요소 비우는 작업

                makePagination(pno, comments);

                comments.content.forEach(function (comment) {
                    let date = comment.regDate.split('T')[0];
                    let time = comment.regDate.split('T')[1];

                    commentUl.append(`<li> ${comment.writer.name} ${comment.content} ${date + " " + time}
                                        <button onclick="removeComment(${comment.poster.id}, ${comment.id})">삭제</button>

                                        <div>
                                            <button class="reply-btn">답글 작성</button>
                                            <div class="reply-form" style="display: none;">
                                            <input name="writer">작성자
                                            <input name="content">내용
                                            <input type="hidden" name="parent_comment_id" value="${comment.id}">
                                            <input type="hidden" name="pno" value="${comment.poster.id}">
                                            <button class="reply-submit">제출</button>
                                            </div>
                                            <button class="reply-see" data-parent-comment-id="${comment.id}" data-show="0" style="display: block">답글 보기</button>
                                            <ul class="reply-list" data-page="0">
                                            </ul>
                                            <button style="display: none">더보기</button>
                                        </div>
                                       </li>`);
                })
            },
            error: function () {
                alert("error");
            }
        })

        const replyButtons = document.querySelectorAll(".reply-btn");
        replyButtons.forEach(replyButton => {

            replyButton.addEventListener("click", function() {
                // 대댓글 작성 폼 토글 (보이기/숨기기)
                const replyForm = this.nextElementSibling;
                if (replyForm.style.display === "none") {
                    replyForm.style.display = "block";
                } else {
                    replyForm.style.display = "none";
                }
            });
        });

        const submitButtons = document.querySelectorAll(".reply-submit");
        submitButtons.forEach(submitButton => {
            submitButton.addEventListener("click", function () {
            const replyForm = this.parentElement;
            const writerInput = replyForm.querySelector('input[name="writer"]').value;
            const contentInput = replyForm.querySelector('input[name="content"]').value;
            const parentCommentIdInput = replyForm.querySelector('input[name="parent_comment_id"]').value;
            const pno = replyForm.querySelector('input[name="pno"]').value;
            reply_data = {
                writer: writerInput,
                content: contentInput,
                parentCommentId: parentCommentIdInput
            }
            $.ajax({
                type: "post",
                url: "/comment/write?pno="+pno,
                dataType: "json",
                contentType: "application/json",
                data: JSON.stringify(reply_data),
                success: function () {
                    loadComments(pno, 0);
                },
                error: function (error) {
                    alert("error");
                }
            })
        })
        })

        const replySeeBtns = document.querySelectorAll(".reply-see");
        replySeeBtns.forEach( replySeeBtn => {
            const parentCommentId = replySeeBtn.dataset.parentCommentId;
            const replyList = replySeeBtn.nextElementSibling;
            const replyMoreBtn = replyList.nextElementSibling;

            replyMoreBtn.addEventListener("click", function() {
                replyLoad(replyList, replyMoreBtn, parentCommentId)
            });

            replySeeBtn.addEventListener("click", function() {
                if(replySeeBtn.dataset.show === "0") {
                    replySeeBtn.dataset.show = "1";
                } else {
                    replyList.innerHTML="";
                    replyList.dataset.page="0";
                    replySeeBtn.dataset.show="0";
                    replyMoreBtn.style.display = "none";
                    return;
                }

                replyLoad(replyList, replyMoreBtn, parentCommentId);

            })
        })

    }

    function replyLoad(replyList, replyMoreBtn, parentCommentId) {
        page = replyList.dataset.page;
        $.ajax({
            type: "GET",
            url: `/reply?parentCommentId=${parentCommentId}&page=${page}`,
            dataType: "json",
            success: function (replys) {
                replys.content.forEach( (reply) => {
                    let Child = document.createElement("li");
                    Child.append(`${reply.writer} ${reply.content} ${reply.regDate}`);

                    let childDelete = document.createElement("button");
                    childDelete.innerHTML = "삭제";
                    childDelete.addEventListener("click", function() {
                        removeComment(reply.poster.id, reply.id);
                    })
                    Child.append(childDelete);
                    replyList.appendChild(Child);
                })

                replyList.dataset.page=String(parseInt(page)+1);
                if(replys.totalSize <= (replyList.dataset.page)*5) {
                    replyMoreBtn.style.display = "none";
                } else {
                    replyMoreBtn.style.display = "block";
                }
            },
            error: function () {
                alert('error');
            }
        })
    }

    function makePagination(pno, page) {

        let pagination = $("#pagination");
        pagination.empty();

        let cur = page.number; // 0부터 센다.
        let endPage = Math.ceil((cur + 1) / 10.0) * 10; // 1~10
        let startPage = endPage - 9; // 1~10
        if (endPage > page.totalPages - 1) // totalPage는 1부터 센다 그래서 1을 빼줌
            endPage = page.totalPages;

        if (cur > 0) // 이전 버튼
            pagination.append(`<li style="float: left"><a href="javascript:void(0)" onclick="loadComments(${pno}, ${cur - 1})">이전</a></li>`);

        for (let i = startPage; i <= endPage; i++) { // 페이지네이션
            pagination.append(`<li style="float: left; margin-left: 2px"><a href="javascript:void(0)" onclick="loadComments(${pno}, ${i - 1})">${i}</a></li>`);
        }

        if (cur + 1 < page.totalPages) // 다음 버튼
            pagination.append(`<li style="float: left; margin-left: 2px"><a href="javascript:void(0)" onclick="loadComments(${pno}, ${cur + 1})">다음</a></li>`);
    }

    $(document).ready(function () {
            let pno = [[${poster.id}]];
            loadComments(pno, 0);
        }
    );

    function removeComment(pno, id) {
        $.ajax({
            type: "POST",
            url: `/comment/delete?id=${id}`,
            async: false,
            success: function () {
            },
            error: function () {
                alert('ERROR');
            }
        })

        loadComments(pno, 0);
    }
</script>
</body>
</html>