<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="content container">
    <table class="table">
        <tr>
            <th>제목</th>
            <td th:text="${poster.title}"></td>
        </tr>
        <tr>
            <th>작성자</th>
            <td th:text="${poster.writer}"></td>
        </tr>
        <tr>
            <th>작성일</th>
            <td th:text="${#temporals.format(poster.regdate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td th:text="${poster.content}"></td>
        </tr>
    </table>
    <div class=" d-flex justify-content-end">
        <div class="btn-group">
            <button class="btn btn-primary" type="button"
                    th:onclick="|location.href='@{/poster/edit(id=${poster.id})}'|">수정
            </button>
            <button class="btn btn-primary" type="button"
                    th:onclick="|location.href='@{/poster/delete(id=${poster.id})}'|">삭제
            </button>
            <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/posters}'|">목록</button>
        </div>
    </div>

    <div class="border-top border-bottom py-3 my-3">
        <form action="/comment/write" method="post">
            <div class="d-flex">
                <input class="justify-content-start h-25 mx-2" placeholder="작성자" type="text" name="writer"> <br>
                <input type="hidden" name="pno" th:value="${poster.id}">
                <textarea class="justify-content-end w-100 mx-2" type="text" name="content"></textarea>
            </div>
            <div class="d-flex justify-content-end mt-2">
                <button class="btn btn-primary" type="submit">제출</button>
            </div>
        </form>
    </div>

    <div>
        <ul>
            <li th:each="comment : ${comments}">
                <span th:text="|${comment.writer} ${comment.content} ${#temporals.format(comment.regDate, 'yyyy.MM.dd HH:mm')}|"> </span>
                <form th:action="@{/comment/delete}" method="post">
                    <input type="hidden" name="id" th:value="${comment.id}">
                    <button type="submit">삭제</button>
                </form>
            </li>
        </ul>
    </div>
</div>

<script src="/js/bootstrap.min.js"></script>
</body>
</html>